h1 {
    color: #000080;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: #001a66;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    font-family: Arial, Helvetica, sans-serif;
}